.navbar {
    height: 10vh;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color: rgb(235, 55, 94);
}

.btn {
    padding: 12px 35px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 0%;
    transition: all ease-in-out .5s;
}

.btn-brand {
    background-color: rgb(207, 58, 145);
    color: rgb(194, 101, 178);
}

.btn-brand:hover {
    border: 2px solid  rgb(238, 75, 189);
    color:rgb(161, 42, 177);
}

.navbar .nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    text-transform: uppercase;
}

#banner {
    background: url('trexie.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    color: rgb(143, 1, 124);
}

#banner p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(1, 17, 4);
}
